<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <div class="Home">
        <h2>This is Home page</h2><br>
            <form action="/" method="post">
            <input type="text" id="SearchFood" class ="hi hellow" placeholder="SEARCH FOOD" name="SearchFood" required>
            <button class="hi bro">Submit</button>
        </form>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>