<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <div class="Home">
        <h2>This is Home page</h2>
    </div>
        <form action="/" method="post">
            <input type="text" id="SearchFood" placeholder="SEARCH FOOD" name="SearchFood" required>
            <button>Submit</button>
        </form>
   <div>

    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>