<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="">
        <p>Here will we all saved produces</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>